<div style="display: flex; justify-content: center;">
  <div style="width: fit-content; border: 1px dashed; border-radius: 5px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;">
    <h1 data-translate="email_form.title">New E-Mail from SMWorks:</h1>
    <div>
      <h3 data-translate="email_form.name_label">Name:</h3>
      <span><%= name %></span>
    </div>
    <div>
      <h3 data-translate="email_form.email_label">Email:</h3>
      <a href="mailto:<%= email %>"><%= email %></a>
    </div>
    <div>
      <h3 data-translate="email_form.subject_label">Subject:</h3>
      <span><%= subject %></span>
    </div>
    <div>
      <h3 data-translate="email_form.text_label">Text:</h3>
      <span><%= text %></span>
    </div>
  </div>
</div>